
.sidebar-arrow {
    margin-left: 1em;
}
.nav-pills li {
    float: 'none';
}

li.nav-item {
    max-width: 15em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: white;
}

li.nav-item a {
    color: darkcyan;
    font-size: 16px;

}

li.nav-item a:active {
    background: darkcyan;
    color: white;
}

li.nav-item a:hover {
    background-color: lightgrey;

}

.nav-level-2 {
    margin-left: 1em;
}
.nav-level-3 {
    margin-left: 2em;
}